.card {
    width: 200px;
    height: 400px;
}

.table{
    margin-top: 20px;

}

.table tr td {
    margin-top: 10px;
    border: none;
    border-style: hidden;
    text-align: start;
    white-space: pre-line;
    padding: 8px;
}

.table th{
    text-align: start;
    width: 120px;
    white-space: inherit;
    padding: 8px;
}



.Wrapper {
    display: inline-block;
    width: 500px;
    height: 400px;
    background-color: rgba(194, 222, 248, 0.932);
    color: black;
    margin: 5px;
    text-align: start;
    white-space: pre-line;
}
